<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="initial-scale=1.0, width=device-width" name="viewport">
<title>{$title}</title>

<!-- css -->
<link href="__PUBLIC__/material/css/base.min.css" rel="stylesheet">

<!-- favicon -->
<!-- ... -->

<!-- ie -->
<!--[if lt IE 9]>
			<script src="js/html5shiv.js" type="text/javascript"></script>
			<script src="js/respond.js" type="text/javascript"></script>
		<![endif]-->
<style>
.pages {
	width: 100.5%;
	text-align: right;
	padding: 10px 0;
	clear: both;
}

.pages a,.pages .current {
	font-size: 12px;
	font-family: Arial;
	margin: 0 2px;
}

.pages a,.pages .current {
	border: 1px solid #5FA623;
	background: #fff;
	padding: 2px 6px;
	text-decoration: none
}

.page .current,.page a:hover {
	background: #7AB63F;
	color: #fff;
}
</style>

</head>
<body>
	<header class="header">
		<div class="clearfix pull-left">
			<ul class="nav nav-list pull-left">
				<li><a class="menu-toggle" href="#menu"> <span
						class="access-hide">Menu</span> <span class="icon icon-menu"></span>
						<span class="header-close icon icon-close"></span>
				</a></li>
			</ul>
			<a class="header-logo">北京邮电大学软件学院</a>
		</div>
	</header>
	<nav class="menu" id="menu">
		<div class="menu-scroll">
			<div class="menu-wrap">
				<div class="menu-content">
					<ul class="nav">
						<li><a href="{:U('qnlist')}">问卷管理</a></li>
						<li><a href="{:U('qncreate')}">添加问卷</a></li>
					</ul>
					<hr>
					<ul class="nav">
						<li><a href="{:U('about')}">关于</a></li>
					</ul>
					<hr>
					<ul class="nav">
						<li><a href="{:U('logout')}">退出</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<!-- content -->
	<div id="Right">{__CONTENT__}</div>

	<footer class="footer">
		<div class="container">
			<p>北京邮电大学软件学院</p>
		</div>
	</footer>

	<script src="__PUBLIC__/material/js/base.min.js" type="text/javascript"></script>
</body>
</html>